ion-content{
  //--background: maroon;
  min-height: 100vh;
  overflow-x: hidden;
}


.parallax img{
  position: absolute;
  top: 0px;
  left: 0;
  pointer-events: none;
}


.margin {
  margin-top: 200px;
}

